.navContainer{
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding: 2px;
    /* justify-content: center; */
    align-items: center;
    background-color: silver;
}

.navUl {
    color: tomato;
    margin-right : 10px ;
    
}

.navUl :hover{
    color: aliceblue;
}

.navLink{
    margin: 0 10px 0 0;
    color: #22223b;

}

.navLogo{
    margin-left: 10px ;
}